.main {
    background: #FAFBFF;
    width: 100%;
    padding-left: 71px;

    &-title {
        font-weight: 500;
        font-size: 24px;
        color: #000000;
    }

    &-menu {
        background: #FFFFFF;
        box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
        border-radius: 30px;
        margin-right: 91px
    }

    &__inner {
        &-search {
            padding: 30px 53px 0 38px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-table {
            .table {
                border-collapse: collapse;
                width: 100%;

                td {
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: -0.01em;
                    color: #292D32;
                    padding-left: 38px;
                }

                &-titles {
                    border-bottom: 1px solid #EEEEEE;

                    td {
                        color: #B5B7C0;
                    }
                }
            }
        }
    }

    &-search {
        &__customers {
            h2 {
                font-weight: 600;
                font-size: 22px;
                letter-spacing: -0.01em;
                color: #000000;
            }

            h3 {
                font-weight: 400;
                font-size: 14px;
                letter-spacing: -0.01em;
                color: #16C098;
            }

            h2,
            h3 {
                text-transform: capitalize;
            }
        }

        &__search {
            input {
                background: url(../../img/main_menu/search.svg);
                background-color: #F9FBFF;
                background-repeat: no-repeat;
                background-position: 8px;
                border-radius: 10px;
                padding: 10px 0 10px 40px;
                font-weight: 400;
                font-size: 12px;
                letter-spacing: -0.01em;
                color: #B5B7C0;
                border-color: transparent;
                text-transform: capitalize;

                &::placeholder {
                    font-weight: 400;
                    font-size: 12px;
                    letter-spacing: -0.01em;
                    color: #B5B7C0;
                }

                &:focus-visible {
                    outline: none;
                }
            }
        }
    }
}