.side {
    &__name {
        display: flex;
        align-items: center;
        gap: 11px;

        &-title {
            gap: 4px;
            h2 {
                font-weight: 600;
                font-size: 26px;
                letter-spacing: 0.01em;
                color: #000000;
            }

            span {
                align-self: self-end;
                font-weight: 500;
                font-size: 10px;
                line-height: 15px;
                letter-spacing: -0.01em;
                color: #838383;
            }
        }
    }
}