.side {
    position: relative;
    padding-right: 36px;

    &__name {
        display: flex;
        align-items: center;
        gap: 11px;
        padding: 0 0 65px 31px;

        &-title {
            display: flex;
            gap: 4px;

            h2 {
                font-weight: 600;
                font-size: 26px;
                letter-spacing: 0.01em;
                color: #000000;
            }

            span {
                align-self: self-end;
                font-weight: 500;
                font-size: 10px;
                line-height: 28px;
                letter-spacing: -0.01em;
                color: #838383;
            }
        }
    }

    &__menu {
        padding-left: 40px;

        &-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            min-width: 250px;
        }

        &-chevrone {
            &.active {
                path {
                    stroke: white;
                }
            }
        }

        &-item {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 6px 14px 6px 12px;
            cursor: pointer;
            border-radius: 8px;

            &.active {
                background: #5932EA;

                span {
                    color: #fff;
                }

                .side__menu-chevrone {
                    path {
                        stroke: white;
                    }
                }
            }

            &.item-name {
                gap: 15px;
            }

        }


        span {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: -0.01em;
            color: #9197B3;
            text-transform: capitalize;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 12px;
        position: absolute;
        bottom: 10px;

        &-name {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.01em;
            color: #000000;
        }

        &-title {
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.01em;
            color: #757575;
        }
    }
}