@import './base/variables';
@import './base/mixins';
@import './base/fonts';

@import './blocks/side';
@import './blocks/main';
@import './blocks/adaptive';


* {
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: $font;
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-weight: 600;
}

.container {
    padding: 0 4%;
}

a {
    color: #212121;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
}

.side, .main {
    padding-top: 40px;
}